.banner-two-main {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 0 40px;
}

.banner-two-inner {
  white-space: nowrap;
  display: flex;
  transition: ease 1s;
}

.banner-two-item {
  display: inline-block;
  width: 100%;
  min-width: 100%;
}
    
.banner-two-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.banner-two-control {
  position: absolute;
  top: calc(50% - 25px);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.banner-two-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.banner-two-indicator-item {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background: white;
  opacity: 0.5;
}

.banner-two-indicator-item.active {
  opacity: 1;
}