.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding: 6px 80px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.main-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 14px 80px;
  background: #fff;
}

.search {
  max-width: 300px;
  display: flex;
  border-bottom: 2px solid #a020f0;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
}

.search i {
  color: #a020f0;
  margin-right: 30px;
  margin-top: 9px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-self: center;
}

.logo img {
  height: 32px;
}

.elite {
  height: 22px;
}

.icons {
  display: flex;
  gap: 22px;
  justify-self: end;
}

.icons i {
  font-size: 20px;
  cursor: pointer;
}

.icons i:hover {
  background-color:purple;

}

.category-bar {
  width: 100%;
  display: flex;
  gap: 28px;
  padding: 10px 80px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  justify-content: center;
}
